<div>
  <div>
    <h3>いいね獲得ランキング</h3>
    <div>
    <% @ranks.each.with_index(1) do |rank, i| %>
      <% if i == 6 %>
        <% break %>
      <% else %>
        第<%= i %>位
        <%= rank.user_name %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div>
    <table>
    <% @posts.each do |post| %>
      <tr>
        <th><%= post.post_title %></th>
      </tr>
      <tr>
        <td><%= post.post_text.truncate(30) %>...</td>
      </tr>
      <tr>
        <td><%= post.user.user_name %></td>
        <td>
          <%= link_to "もっと見る",  post_path(post.id) %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
  <div>
    <%= paginate @posts %>
  </div>
</div>

