<div>
  <div>
    <h1><%= @user.user_name %></h1>
    <h3><%= @user.posts.count %>ðŸ“¬</h3>
    <h3><%= @user.favorites.count %>ðŸ’•</h3>
  </div>
  <div>
    <table>
    <% @posts.each do |post| %>
      <tr>
        <th><%= post.post_title %></th>
      </tr>
      <tr>
        <td><%= post.post_text.truncate(30) %>...</td>
      </tr>
      <tr>
        <td><%= post.user.user_name %></td>
        <td>
          <%= link_to "ã‚‚ã£ã¨è¦‹ã‚‹", admin_post_path(post.id) %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
  <div>
    <%= paginate @posts %>
  </div>
</div>