<div>
  <h1><%= @user.user_name %></h1>
  <h3><%= @user.posts.count %>投稿📬</h3>
  <h3><%= @get_favorite.count %>いいね💕</h3>
  <h3>
    <% if current_user == @user %>
      <%= link_to "ブックマーク一覧へ📖", user_path(@user.id)%>
    <% end %>
  </h3>
</div>
<div>
  <table>
  <% @posts.each do |post| %>
    <tr>
      <th><%= post.post_title %></th>
    </tr>
    <tr>
      <td><%= post.post_text.truncate(30) %>...</td>
    </tr>
    <tr>
      <td><%= link_to "もっと見る", post_path(post.id)%></td>
    </tr>
  <% end %>
  </table>
</div>

