<div>
  <div>
    <h1><%= @user.user_name %>さんのブックマーク</h1>
  </div>
  <div>
    <table>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <th><%= bookmark.post.post_title %></th>
      </tr>
      <tr>
        <td><%= bookmark.post.post_text.truncate(30)... %></td>
      </tr>
      <tr>
        <td><%= bookmark.post.user.user_name %></td>
        <td><%= link_to "もっと見る", post_path(bookmark.post)%></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>